
header{
    background-color: #2b2e4a;
    color: white;
    text-transform: capitalize;
    padding: 3%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    width: 40%;
    margin-left: 30%;
    font-family: 'Varela Round', sans-serif;
}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    width: 40%;
    margin-left: 30%;
    font-family: 'Lobster', cursive;
}
div{
    margin: 2%;
    background-color: #e84545;
}
