<header>
    <h1>best books!</h1>
    <form action="/" method="get">
        <button id="index" type="submit">Go to the main page</button>
      </form>
      <form action="/searches/new" method="get">
        <button id="index" type="submit">search in API</button>
      </form>
</header>